* {
  margin: 0;
  padding: 0;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
/* body,
html{
  height: 100%;
} */

#header {
  position: absolute;
  z-index: 10;
  width: 100%;
}
.header-text {
  background-color: rgba(0, 0, 0, 0.7);
  padding-left: 10%;
  padding-right: 10%;
}
.intro_section {
  height: calc(100vh - 10px);
  background-image: url("../images/cover1.gif");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 10px;
  width: 100%;
}
.navbar-dark {
  background-color: rgba(0, 0, 0, 0.7) !important;
}

.section-name {
  font-size: 140%;
  padding-left: 10%;
}

.nav-img {
  position: relative;
  top: -3px;
}

.nav-title-div {
  visibility: hidden;
  font-size: 175%;
  font-weight: 140%;
}

.nav-img-start {
  width: 13%;
  position: absolute;
  left: 1%;
  top: 10%;
  z-index: 2;
}

.w-100 {
  width: 100% !important;
}

/* 
#header-text h1 {
  font-weight: 500;
  font-size: 325%;
  line-height: 110%;
} */

.hr-white {
  border-top: 3px white solid;
}

.horizontal-section {
  background-color: white;
}

.sticky-wrapper {
  position: sticky;
  top: 69px;
  width: 100%;
  overflow: hidden;
}

.element-wrapper {
  min-width: 100%;
  position: relative;
  display: flex;
}

.horizontal-img {
  height: calc(100vh - 69px);
  z-index: 10;
}
.horizontal-div {
  position: relative;
}
.bubble img {
  position: relative;
}
.bubble {
  top: 0%;
  position: absolute;
  z-index: 20;
}
@media (min-width: 991px) {
  .bubble {
    opacity: 0;
  }
}
.horizontal-title {
  top: 0%;
  position: absolute;
  z-index: 20;
  /* font-family: ; */
  left: 20%;
  width: 60%;
  top: 30%;
}
.bubble1 {
  left: 13%;
  width: 18%;
}
.bubble2 {
  left: 33%;
  width: 21%;
}
.bubble3 {
  left: 57%;
  width: 21%;
  top: 0%;
}
.bubble4 {
  left: 9%;
  width: 28%;
}
.bubble5 {
  left: 50%;
  top: 18%;
  width: 13%;
}
.bubble6 {
  left: 81%;
  width: 21%;
}
.bubble7 {
  left: 30%;
  width: 23%;
  top: 3%;
}
.bubble8 {
  left: 86%;
  width: 16%;
  top: 12%;
}
.bubble9 {
  left: 17%;
  width: 12%;
  top: 8%;
}
.bubble10 {
  left: 61%;
  width: 25%;
}
.bubble11 {
  left: 17%;
  width: 23%;
}

.bubble12 {
  left: 47%;
  width: 17%;
}

.bubble p {
  font-weight: 600;
  font-size: 150%;
  position: absolute;
  text-align: center;
}
.bubble1 p {
  left: 10%;
  width: 80%;
  top: 16%;
}
.bubble2 p {
  left: 16%;
  width: 69%;
  top: 17%;
  font-size: 130% !important;
}
.bubble3 p {
  left: 20%;
  width: 60%;
  top: 25%;
}
.bubble4 p {
  left: 13%;
  width: 76%;
  top: 25%;
  font-size: 130%;
}
.bubble5 p {
  left: 28%;
  width: 54%;
  top: 36%;
}
.bubble6 p {
  left: 27%;
  width: 60%;
  top: 25%;
}
.bubble7 p {
  left: 16%;
  width: 73%;
  top: 28%;
}
.bubble8 p {
  left: 25%;
  width: 52%;
  top: 37%;
}
.bubble9 p {
  left: 7%;
  width: 86%;
  top: 24%;
}
.bubble10 p {
  left: 23%;
  width: 60%;
  top: 28%;
}
.bubble11 p {
  left: 10%;
  width: 81%;
  top: 25%;
}
.bubble12 p {
  left: 20%;
  width: 66%;
  top: 21%;
}
.comics-heading {
  padding-top: 10%;
  padding-left: 12%;
  padding-bottom: 2%;
}
.insta-heading {
  padding-top: 10%;
  padding-left: 12%;
  padding-bottom: 2%;
}

.comics {
  padding-left: 10%;
  padding-right: 10%;
}

.comic-img-div {
  /* height: 100%; */
  height: calc(80vh - 69px);
  width: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.comic-img {
  width: 100%;
  height: 100%;
  margin: auto;
  transition: 0.5s;
  opacity: 0.5;
}

.comic-img:hover {
  transform: scale(1.3);
  z-index: 2;
  opacity: 1;
  box-shadow: 0 25px 40px rgba(0, 0, 0, 0.5);
}

.img-insta {
  display: block;
  width: 80%;
  height: auto;
  margin: auto;
  box-shadow: rgba(0, 0, 0) 4px 4px 15px;
}

.playpause img {
  width: 18vh;
}

footer {
  background-color: #151414;
  height: 100%;
  /* padding: 3% 0 2% 0; */
}

.footer-logo {
  background-color: #202020;

  width: 90%;
  margin: 1% 5% 1% 5%;
  padding: 1% 10% 1% 10%;
}

.footer-logo p {
  font-size: 120%;
  text-align: left !important;
}

.footer-logo h2 {
  text-align: left !important;
}


.icons ul {
  text-align: left !important;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.icons li {
  display: inline-block;
}

.icons a i {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  background: #000;
  margin-right: 5px;
  color: #fff;
}

.icons a i.fa-facebook {
  background-color: #3b5998;
}
.icons a i.fa-twitter {
  background-color: #55acee;
}
.icons a i.fa-google-plus {
  background-color: #dd4b39;
}
.icons a i.fa-linkedin {
  background-color: #0976b4;
}
.icons a i.fa-instagram {
  background-color: #b7242a;
}

.contact-us{
  width: 80%;
  margin: 1% 10% 1% 10%;
}


.contact-us ul {
  text-align: left !important;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.contact-us li a{
  font-size: 150%;
}
