* {
  margin: 0;
  padding: 0;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
/* body,
html{
  height: 100%;
} */

#header {
  position: absolute;
  z-index: 10;
  width: 100%;
}
.header-text{
  background-color: rgba(0, 0, 0, 0.7);
  padding-left: 10%;
  padding-right: 10%;
}
.intro_section{
  height: calc(100vh - 10px);
  background-image: url('../images/cover1.gif');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 10px;
  width: 100%;
}
.navbar-dark{
  background-color: rgba(0, 0, 0, 0.7) !important; 
}

.section-name {
  font-size: 140%;
  padding-left: 10%;
}

.nav-img {
  position: relative;
  top: -3px;
}

.nav-title-div {
  visibility: hidden;
  font-size: 175%;
  font-weight: 140%;
}

.nav-img-start {
  width: 13%;
  position: absolute;
  left: 1%;
  top: 10%;
  z-index: 2;
}

.w-100 {
  width: 100% !important;
}

/* 
#header-text h1 {
  font-weight: 500;
  font-size: 325%;
  line-height: 110%;
} */

.hr-white {
  border-top: 3px white solid;
}


.horizontal-section {
  background-color: white;
}

.sticky-wrapper {
  position: sticky;
  top: 69px;
  width: 100%;
  overflow: hidden;
}

.element-wrapper {
  min-width: 100%;
  position: relative;
  display: flex;
}

.horizontal-img {
  height: calc(100vh - 69px);
  z-index: 10;
}
.horizontal-div {
  position: relative;
}
.bubble img {
  position: relative;
}
.bubble {
  top: 0%;
  position: absolute;
  z-index: 20;
}
@media (min-width:991px) {
  .bubble{opacity: 0;}
}
.horizontal-title{
  top: 0%;
  position: absolute;
  z-index: 20;

  left: 20%;
  width: 60%;
  top: 30%;
}
.bubble1 {
  left: 13%;
  width: 18%;
}
.bubble2 {
  left: 33%;
  width: 21%;
}
.bubble3 {
  left: 60%;
  width: 18%;
  top: 10%;
}
.bubble4 {
  left: 9%;
  width: 28%;
}
.bubble5 {
  left: 49%;
  top: 14%;
  width: 16%;
}
.bubble6 {
  left: 81%;
  width: 21%;
}
.bubble7 {
  left: 37%;
  width: 23%;
  top: 7%;
}
.bubble8 {
  left: 86%;
  width: 16%;
  top: 12%;
}
.bubble9 {
  left: 11%;
  width: 18%;
}
.bubble10 {
  left: 61%;
  width: 25%;
}
.bubble11 {
  left: 17%;
  width: 23%;
}
.bubble12 {
  left: 76%;
  width: 20%;
  opacity: 1 !important;
}

.bubble p {
  font-weight: 600;
  font-size: 150%;
  position: absolute;
  text-align: center;
}
.bubble1 p {
  left: 10%;
  width: 80%;
  top: 16%;
}
.bubble2 p {
  left: 16%;
  width: 69%;
  top: 17%;
}
.bubble3 p {
  left: 20%;
  width: 60%;
  top: 25%;
}
.bubble4 p {
  left: 16%;
  width: 73%;
  top: 19%;
}
.bubble5 p {
  left: 20%;
  width: 70%;
  top: 44%;
}
.bubble6 p {
  left: 27%;
  width: 60%;
  top: 25%;
}
.bubble7 p {
  left: 16%;
  width: 73%;
  top: 28%;
}
.bubble8 p {
  left: 25%;
  width: 58%;
  top: 47%;
}
.bubble9 p {
  left: 7%;
  width: 86%;
  top: 30%;
}
.bubble10 p {
  left: 23%;
  width: 60%;
  top: 28%;
}
.bubble11 p {
  left: 10%;
  width: 81%;
  top: 25%;
}
.bubble12 p {
  left: 25%;
  width: 60%;
  top: 25%;
}

.comics {
  padding-left: 10%;
  padding-right: 10%;
}

.comic-img-div {
  /* height: 100%; */
  height: calc(80vh - 69px);
  width: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.comic-img {
  width: 100%;
  margin: auto;
  transition: 0.5s;
  opacity: .5;
}

.comic-img:hover {
  transform: scale(1.3);
  z-index: 2;
  opacity: 1;
  box-shadow: 0 25px 40px rgba(0, 0, 0, 0.5);
}

.img-insta {
  display: block;
  width: 80%;
  height: auto;
  margin: auto;
  box-shadow: rgba(0, 0, 0) 4px 4px 15px;
}


.playpause img {
  width: 18vh;
}
