*{
    margin: 0;
    padding: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
body,
html,
header,
main,
footer,
#intro {
  height: 100%;
}

#header{
    position: absolute;
    z-index: 10;
    width: 100%;

}
#intro {
  background-image: url("../images/home3.jpg");

  height: 100vh;
  /* Center and scale the image nicely */
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* .navbar-brand{
    font-weight: bold;
    font-size: 1.5em;
    text-transform: uppercase;
    color: #ccc !important;
} */

/* .nav-item {
  padding-left: 15px;
  font-weight: 600;
  text-transform: uppercase;
} */
/* 
.nav-link{
    color: #ccc !important;
    letter-spacing: 2px;
    font-size: 1em;
    font-weight: 700;
}
.nav-link:hover{
    background: #dcdde1 !important;
    color: #262626 !important;
    border-radius: 5px;
    transition: all 0.6s ease 0s;
} */

.w-100 {
  width: 100% !important;
}


#header-text {
  padding-top: 30vh;
} 

/* #header-text h1 {
  font-weight: 700;
  font-size: 62px;
  line-height: 80px;
} */

.hr-white {
  border-top: 3px white solid;
}

.whitePage {
    padding: 70px 0 70px;
}


.horizontal-section {
  background-color: pink;

}

.sticky-wrapper {
  position: sticky;
  top: 60px;
  width: 100%;
  overflow: hidden;
}

.element-wrapper {
  position: relative;
  display: flex;
  margin: 0 20px;
}

.element1 {
  width: 100vw;
  padding: 40px;
  margin-right: 20px;
  height: 600px;
  background-color: purple;
  flex-shrink: 0;
}

.element2 {
  margin-right: 20px;
  padding: 40px;

  width: 100vw;
  height: 600px;
  background-color: violet;
  flex-shrink: 0;
}

.element3 {
  padding: 40px;
  width: 100vw;
  margin-right: 20px;

  height: 600px;
  background-color: blue;
  flex-shrink: 0;
}

.element4 {
  padding: 40px;

  width: 100vw;
  margin-right: 20px;

  height: 600px;
  background-color: green;
  flex-shrink: 0;
}

.element5 {
  padding: 40px;
  width: 100vw;
  margin-right: 20px; 

  height: 600px;
  background-color: orange;
  flex-shrink: 0;
}

.element6 {
  padding: 40px;
  width: 100vw;
  height: 600px;
  margin-right: 20px;

  background-color: red;
  flex-shrink: 0;
}
