/* *{
  scroll-behavior: smooth;
} */

html { scroll-behavior: smooth; }
#header {
    position: absolute;
    z-index: 10;
    width: 100%;
  }
  
  .loader {
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #313131;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .loader > img {
    width: 20%;
  }
  
  .loader.hidden {
    animation: fadeOut 1s;
    animation-fill-mode: forwards;
  }
  
  @keyframes fadeOut {
    100% {
        opacity: 0;
        visibility: hidden;
    }
  }
  
  
.navbar-dark {
    background-color: rgb(43, 41, 41) !important;
  }
  
  .nav-img {
    position: relative;
    top: 1px;
    margin-right: 5%;
  }
  
  .nav-title-div {
    visibility: visible;
    font-size: 200%;
  }

  .hr-white {
    border-top: 3px white solid;
  }
  
  .hr-black {
    border-top: 3px #313131 solid;
  }
  

  main{
    margin-top: 105px;
  transition: all 1s ease-in-out;

  }

  a{
    color: white;
  }

  a:hover{
    color: white;
    text-decoration: none;
  }

  div.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 65px;
    /* padding: 5px; */
    /* background-color: #cae8ca;
    border: 2px solid #4CAF50; */
  }

  
  .comicRow{
    margin: 5% 0;
  }

  .navVertical{
    display: none;
  }
  
.custom-nav{
  position: fixed;
  top:50%; left:5%;
  transform: translateY(-50%);
  z-index: 1000;
}

.custom-nav ul{
  list-style: none;
  padding:0; margin: 0;
}

.custom-nav ul .line{
  position: absolute;
  top: 25px;
  left: 11px;
  height: 0px;
  width: 8px;
  background: #ff0000;
  border-radius: 50px;
}

.custom-nav ul li{
  /* width: 200px; */
  position: relative;
  text-align: left;
  padding-bottom: 20px;
  display: flex;
}

.custom-nav ul li .dot{
  display: block;
  width: 30px;
  /* padding: auto; */
  height: 30px;
  background-color: #313131;
  border-radius: 50%;
  text-align: center;
  line-height: 30px;
  font-size: 120%;
  font-weight: bolder;
  cursor: pointer;
}
.custom-nav ul li span{
  padding-top: 3px;
  padding-left: 5px;
  cursor: pointer;

  /* opacity: 0; */
}

  .edu{
    width: 100%;
    height: calc(100vh - 65px);
    padding-left: 10%;
    padding-right: 10%;    
  }
  .edu1{
    background-color: #5B4029;
  }
  
  .edu2{
    background-color: #C26F31;
  }
  
  .edu3{
    background-color: #063864;
  }
  
  .edu4{
    background-color: #252627;
  }
  
  .edu5{
    background-color: #5C6624;
  }
  
  .edu6{
    background-color: #C26F31;
  }

  
@media (max-width: 991px) {
  .edu2 .edu-img, .edu4 .edu-img, .edu6 .edu-img {
    text-align: center;
  }
}
  
  .edu-text{
    padding-top: 10%;
    padding-bottom: 10%;
    /* padding-left: 10%; */

  }

  .edu-img{
    padding-top: 5%;
    padding-bottom: 5%;
    /* width: 80%; */
    /* padding-left: 10%; */
  }

  footer {
    background-color: #151414;
    height: 100%;
    /* padding: 3% 0 2% 0; */
  }
  
  .footer-div{
  padding-left: 3%;
  padding-right: 3%;
  }
  
  .footer-logo {
    background-color: #202020;
  
    margin-top: 15%;
    padding: 20% 10%;
    margin-bottom: 5%;
  }
  
  .footer-logo img{
    padding: 3%;
  }
  .link-heading{
    width: 90%;
    margin: 0 auto;
  }
  
  .subscribe{
    padding: 10% 5%;
    margin-top: 5%;
  }
  
  .links{
    padding-top: 3%;
    padding-left: 5%;
  }
  
.links a{
  color: white;
}
.links a:hover{
  text-decoration: none;
}

  .social-media{
    margin-top: 3%;
  }
  @media (max-width: 575px) {
    .social-media, .links li, .subscribe {
      text-align: center;
    }  
  }
  
  .social-media p i{
    font-size: 130%;
    padding-top: 6%;
  }
  .social-media p {
    font-size: 120%;
    margin-bottom: 0;
  }
  .link-lists{
    font-size: 100%;
    
  }
  
  .link-lists ul{
    list-style-type: none;
    position: absolute;
  }
  
  .links ul {
    text-align: left !important;
    list-style-type: none;
    font-size: 120%;
    /* padding: 0;
    margin: 0; */
  }
  .links li {
    margin-bottom: 5%;
  }
  